*.aps

*.bak
*.idb
*.opensdf
*.pdb
*.qm
*.sdf
*.sln
*.VC.db
*.vc.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs
Makefile
Makefile.debug
Makefile.release
*/debug
*/release
src/*_wrapper.bat
ui_*.h
