*.aps
*.bak
*.exe
*.msi
*.qm
*.sdf
*.sln
*.VC.db
*.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*_wrapper.bat
.qmake.stash
.vs
debug
Makefile
Makefile.debug
Makefile.release
release
ui_*.h
/build/
/out/
/vcpkg_installed/
/CMakeUserPresets.json
